# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Allure отчёты (оставляем в репо для сдачи)
# allure-results/
# allure-report/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Системные
.DS_Store
Thumbs.db
*.log
/tests/__pycache__
/tests/.pytest_cache
/allure-results